<h1>{{title}}</h1>
<!--<agm-map [latitude]="lat" [longitude]="lng"></agm-map>-->


<div class="container">
  <!--<div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>-->
  <div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
