<div class="page-login">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-6"></div>
      <div class="row1 col-md-6 col-sm-3">
        <div style="text-align:center">
          <div>
            <span>
              <input class="clean-slide" id="userName" type="text" placeholder="Your user name" /><label for="age">
                User
                name
              </label>
            </span>
          </div>

          <div>
            <span>
              <input class="clean-slide" id="height" type="password" placeholder="Password" /><label for="height">Password</label>
            </span>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="container1 col-md-6">
              <a href="#" class="btn btn-2">LOG IN</a>
            </div>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</div>

